/*
* style.css - Udacity P5 - Neighborhood map project
* My London
* 01/03/2015 
*/
#map-canvas {
    height:100%;
    width:82%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    opacity:.95;
}
#side-bar {
    position:absolute;
    padding:  0 0 0 5px;
    z-index:1;
    height: 100%;
    width:18%;
    right: 0;
    top: 0;
    overflow-y: scroll;
    background-color: #BDC0D9;
}
ul {
    list-style-type: none;
    border: 0;
    padding: 0;
}
.ticker {
    border: solid 1px;
    background-color: #AAACB2;
}
@media screen and (max-width: 840px) {
    h2, #side-bar, #header-title,#header-about,#header-subtitle, #ticker, button, #input {
        font-size: 60%;
        max-width:100%;
    }
    input {
        max-width:100%;
    }
    .marker-legend {
        width:20%;
        height:20%;
    }
}

